body{
    padding: 0;
    margin: 0;
    background: black;
    font-family:url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f3f2ede8;
    width: 1440px;
    height: 780px;
    padding-top: 8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.container .picture img{
    height: 450px;
    /* border-radius: 12px; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    margin-left: 4rem;

}
.container .header{
    height: 450px;
    width: 250px;
    padding-left: 1rem;
    padding-right: 1.5rem;
    background: white;
    /* border-radius: 12px; */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.para{
    padding-top: 1.5rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    
}

.header .heading1{
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    /* font-size: bold; */
    font-weight: 700px;
    width: 60%;
}


p{
    font-size: 16px;
    font-weight: 600px;
    color: grey;
    word-spacing: 6px;
}
.header .price h1{
    color:darkgreen;
}

.overline{
    color: grey;
    font-size: medium;
    padding-left: 8px;
    text-align: center;
    text-decoration-line: line-through;
}
.fa{
    padding-right: 8px;
}

.btn{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 16px;
    margin-bottom: 10px;
    background: rgba(0, 100, 0, 0.877);
    color: whitesmoke;
    border-radius: 8px;
}







